<!-- templates/financeiro/analises/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Análises Financeiras{% endblock %}
{% block page_title %}Análises Financeiras{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Análises Financeiras</h1>
    <ul>
        <li><a href="{% url 'financeiro:analise_liquidez' %}" class="text-blue-600">Liquidez</a></li>
        <li><a href="{% url 'financeiro:analise_rentabilidade' %}" class="text-blue-600">Rentabilidade</a></li>
        <li><a href="{% url 'financeiro:analise_endividamento' %}" class="text-blue-600">Endividamento</a></li>
    </ul>
</div>
{% endblock %}