<!-- templates/financeiro/cartao/conciliacao.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Conciliacao Cartão{% endblock %}
{% block page_title %}Conciliacao do Cartão{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
        Conciliacao do Cartão
    </h1>

    <p>Aqui você pode visualizar a conciliação do cartão.</p>
    <!-- Adicione detalhes sobre a conciliação aqui -->
</div>
{% endblock %}