<!-- templates/financeiro/cartao/taxas.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Taxas Cartão{% endblock %}
{% block page_title %}Taxas de Cartão{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
        Taxas de Cartão
    </h1>

    <p>Aqui você pode visualizar as taxas associadas ao uso do cartão.</p>
    <!-- Adicione a tabela ou lista de taxas aqui -->
</div>
{% endblock %}