{% extends 'base.html' %}

{% block content %}
<h2>Detalhes da Comanda</h2>
<p><strong>Mesa:</strong> {{ comanda.mesa }}</p>
<p><strong>Funcionário:</strong> {{ comanda.funcionario }}</p>

<h3>Itens:</h3>
<ul>
  {% for item in comanda.itemcomanda_set.all %}
    <li>{{ item.produto.nome }} - {{ item.quantidade }}</li>
  {% endfor %}
</ul>

<a href="{% url 'bar:editar_comanda' comanda.pk %}" class="btn btn-warning">Editar</a>
<a href="{% url 'bar:comanda_list' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}
